  .sub {
      background-color: rgb(201, 0, 0);
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-right: 8px;
      transition: opacity 0.3s;
      padding-bottom: 5px;
      padding-top: 10px;
      padding-left: 16px;
      padding-right: 16px;
      vertical-align: top;
    }
  
    .sub:hover {
      opacity: 0.6;
    }
  
    .sub:active {
      opacity: 0.3;
    }
  
    .join {
      background-color: rgb(255, 255, 255);
      border-color: rgb(41, 118, 211);
      border-style: solid;
      border-width: 1px;
      color: rgb(41, 118, 211);
      border-radius: 3px;
      cursor: pointer;
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 9px;
      padding-bottom: 9px;
      vertical-align: top;
  
      transition: background-color 0.5s, color 0.5s;
    }
  
    .join:hover {
      background-color: rgb(41, 118, 211);
      color: rgb(255, 255, 255);
    }
  
    .join:active {
      opacity: 0.7;
    }
  
    .tweet {
      background-color: rgb(29, 155, 240);
      color: white;
      border: none;
      padding-bottom: 10px;
      padding-top: 10px;
      padding-left: 16px;
      padding-right: 16px;
      border-radius: 18px;
      font-weight: bold;
      cursor: pointer;
      margin-left: 8px;
      vertical-align: top;
  
      transition: box-shadow 0.3s;
    }
  
    .tweet:hover {
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.12);
    }