title { 
    color:azure;
}

body {
    margin:40px 40px 40px 40px;
    max-width:100%;
    line-height:1.6;
    font-size:18px;
    color:white;
    padding:0 10px;
}

h1,h2,h3 {
    line-height:1.2;
    
}


h1 {
    text-align: center;
    font-family: Roboto, Arial;
}

.sub {
    background-color: rgb(201, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.3s;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
    vertical-align: top;
  }

  td{
    padding: 8px;
}